page-singup {
    $white-color: #fff;
    
    $height100: 100%;

    .toolbar-background {
        background-color: rgba(44, 137, 243, 0.993);
        text-align: center;
        color: #fff; 
      }

    ion-content{
        margin-top: 10%;
    }

    ion-grid {
        width:100%;
        height: $height100;
        background: #dfdfdf;
    }
    
    ion-row {
        height: $height100;
    }
    
    ion-col {
        border: 1px solid #488aff;
        background: $white-color;
    }
    
    ion-button {
        font-weight: 300;
    }
    


    @media (min-width: 240px) and (max-width: 768px) {
        ion-grid {
            background: $white-color;
        }
        ion-col {
            border: none;
        }
    }
}


